/*-- scss:rules --*/
@import "variables.scss";

details.bcds-disclosure {
  box-shadow: $surface-shadow-medium;

  summary {
    list-style: none;

    width: 100%;
    background: $surface-color-background-light-gray;
    font-weight: $typography-font-weights-bold;
    padding: $layout-padding-medium $layout-padding-large;
    color: $typography-color-primary;

    position: relative;
  }

  summary::-webkit-details-marker {
    display: none
  }

  summary::after {

    font-family: bootstrap-icons !important;
    font-weight: normal;
    font-variant: normal !important;

    position: absolute;
    right: $layout-padding-medium;

    content: '\f285';
  }

  &[open] summary::after {
    content: '\f282';
  }

  .panel {
    width: 100%;
    padding: $layout-padding-medium $layout-padding-large;
  }

  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 0;
  box-sizing: border-box;
  border: $layout-border-width-small solid $surface-color-border-default;
  border-radius: $layout-border-radius-medium $layout-border-radius-none $layout-border-radius-none $layout-border-radius-medium;
}

