/* From BC Design System Design Tokens */

/*-- scss:defaults --*/

// this isn't really necessary since Quarto includes it, but it does improve code completion in IDEs
@import "variables.scss";


$primary: $surface-color-primary-default;
$secondary: $surface-color-secondary-default;
$light: $surface-color-background-light-gray;

$min-contrast-ratio: 2.6 !default;

$enable-rounded: false;
$enable-transitions: false;

$max-width: 1100px;

$font-size: $typography-font-size-body;
$fontcolor: $typography-color-primary;
$linkcolor: $typography-color-link;
$linestretch: $typography-line-heights-regular;
$backgroundcolor: $surface-color-background-white;

$grid-body-width: 1100px;

$font-family-sans-serif: $typography-font-families-bc-sans, sans-serif;
$headings-font-weight: $typography-font-weights-bold;

$navbar-bg: $surface-color-background-white;
$navbar-fg: $typography-color-link;

$progress-height: .5rem !default;


$bs-card-spacer-y: 0;
$bs-card-spacer-x: 0;

body {
  -webkit-font-smoothing: antialiased;
}


@font-face {
  font-family: BC Sans;
  font-style: normal;
  font-weight: 400;
  src: url(/_extensions/bcds/assets/static/BCSans-Regular.DKwZ9GnR.woff2) format("woff2"), url(/_extensions/bcds/assets/static/BCSans-Regular.CMx_o1HH.woff) format("woff")
}

@font-face {
  font-family: BC Sans;
  font-style: italic;
  font-weight: 400;
  src: url(/_extensions/bcds/assets/static/BCSans-Italic._P9wZbgV.woff2) format("woff2"), url(/_extensions/bcds/assets/static/BCSans-Italic.BSFPKGgR.woff) format("woff")
}

@font-face {
  font-family: BC Sans;
  font-style: normal;
  font-weight: 700;
  src: url(/_extensions/bcds/assets/static/BCSans-Bold.Ciclm6eX.woff2) format("woff2"), url(/_extensions/bcds/assets/static/BCSans-Bold.BmoTexmK.woff) format("woff")
}

@font-face {
  font-family: BC Sans;
  font-style: italic;
  font-weight: 700;
  src: url(/_extensions/bcds/assets/static/BCSans-BoldItalic.bEalI5bL.woff2) format("woff2"), url(/_extensions/bcds/assets/static/BCSans-BoldItalic.Dg_86UDa.woff) format("woff")
}

@font-face {
  font-family: BC Sans;
  font-style: normal;
  font-weight: 300;
  src: url(/_extensions/bcds/assets/static/BCSans-Light.DTetth3X.woff2) format("woff2"), url(/_extensions/bcds/assets/static/BCSans-Light.CmVrKSZi.woff) format("woff")
}

@font-face {
  font-family: BC Sans;
  font-style: italic;
  font-weight: 300;
  src: url(/_extensions/bcds/assets/static/BCSans-LightItalic.dN5bWDr3.woff2) format("woff2"), url(/_extensions/bcds/assets/static/BCSans-LightItalic.C2AxY9aU.woff) format("woff")
}

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  border: none;
  line-height: $typography-line-heights-sparse;

  &:before {
    content: ' ';
    width: 40px;
    display: block;
    border-bottom: $layout-padding-small solid $theme-primary-gold;
    padding: 0;
    margin: 0 0 $layout-padding-small;
    //margin: 0;
  }

}

.quarto-title {
  display: none;
}

hr {
  color: $theme-primary-gold;
  height: $layout-border-width-large;
  width: 3rem;
}


#quarto-header {
  .navbar {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;

    width: 100%;

    .navbar-brand-container {

      .navbar-logo {
        max-height: unset;
        padding-right: $layout-padding-medium;
        padding-left: 0;
      }

      .navbar-brand-logo {
        padding: 0;

        @media only screen and (max-width: 575px) {

          /* Replace the link with a block element having a background, to work round Quarto's single logo spec */
          border: none !important; /* override bootstrap default */
          background-image: url(/_extensions/bcds/assets/BCID_V_rgb_pos.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 48px;
          min-height: 48px;
          display: block;

          img.navbar-logo {
            display: none;
          }
        }
        @media only screen and (max-width: 991px) {
          height: 60px;
          border-right: 1px solid $theme-gray-50;
        }
        @media only screen and (min-width: 992px) {
          height: 80px;
          border-right: 1px solid $theme-gray-50;
        }

        margin: auto 0;
      }

      .navbar-title {
        padding-left: $layout-padding-medium;
        font-weight: $typography-font-weights-regular;
        text-transform: capitalize;
      }
    }

  }
}

/* The BCDS footer component is pre-styled. Resetting the default Quarto CSS to give it space to apply its styles */
.nav-footer {
  display: block;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .nav-footer-left {
    display: none;
  }

  .nav-footer-right {
    display: none;
  }

  .nav-footer-center {
    text-align: initial;
  }
}

/* Styling sidebar to match Figma specs */

#quarto-sidebar {

  .sidebar-item {
    padding: 0;
    margin: 0;
  }

  .sidebar-link {
    padding: $layout-padding-small;
  }

  .sidebar-item-container .sidebar-link.active {
    background: $surface-color-background-light-blue;
    border-left: $layout-border-width-large solid $theme-blue-70;
    font-weight: $typography-font-weights-bold;
  }
}

/*
 Allow these elements to scroll horizontally on smaller screens
 */

.quarto-listing {
  @media only screen and (max-width: 575px) {
    overflow-x: scroll;
  }
}

table {
  @media only screen and (max-width: 575px) {
    overflow-x: scroll;
  }
}
