<!DOCTYPE html>
<html lang='en'>
<head>
  <!--  <link rel='stylesheet' type='text/css' href='/assets/static/style.GhYd6-gr.css'>-->

  <link rel='preload' href='/assets/static/BCSans-Regular.DKwZ9GnR.woff2' as='font' type='font/woff2' crossorigin>
  <link rel='preload' href='/assets/static/BCSans-Regular.CMx_o1HH.woff' as='font' type='font/woff' crossorigin>
  <link rel='preload' href='/assets/static/BCSans-Italic._P9wZbgV.woff2' as='font' type='font/woff2' crossorigin>
  <link rel='preload' href='/assets/static/BCSans-Italic.BSFPKGgR.woff' as='font' type='font/woff' crossorigin>
  <link rel='preload' href='/assets/static/BCSans-Bold.Ciclm6eX.woff2' as='font' type='font/woff2' crossorigin>
  <link rel='preload' href='/assets/static/BCSans-Bold.BmoTexmK.woff' as='font' type='font/woff' crossorigin>
  <link rel='preload' href='/assets/static/BCSans-BoldItalic.bEalI5bL.woff2' as='font' type='font/woff2' crossorigin>
  <link rel='preload' href='/assets/static/BCSans-BoldItalic.Dg_86UDa.woff' as='font' type='font/woff' crossorigin>
  <link rel='preload' href='/assets/static/BCSans-Light.DTetth3X.woff2' as='font' type='font/woff2' crossorigin>
  <link rel='preload' href='/assets/static/BCSans-Light.CmVrKSZi.woff' as='font' type='font/woff' crossorigin>
  <link rel='preload' href='/assets/static/BCSans-LightItalic.dN5bWDr3.woff2' as='font' type='font/woff2' crossorigin>
  <link rel='preload' href='/assets/static/BCSans-LightItalic.C2AxY9aU.woff' as='font' type='font/woff' crossorigin>
  <meta charset='UTF-8'/>

  <title>NR EPD Air Quality</title>

  <meta property='og:title' content='NR EPD Air Quality'/>
  <meta name='viewport' content='width=device-width,initial-scale=1'>

</head>
<body>

<div id='root'>

  $_header.html()$

  $_navigation.html()$

  <main id='main-content'>$body$</main>

  $_footer.html()$

</div>
</body>
</html>
